:host {
  width: 100%;
}

.auth-links {
  display: flex;
}

.topbar {
  width: 100%;
  height: 80px;
  background: #fff;
  overflow: hidden;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topbar-logo img {
  width: 70px;
}

.topbar-container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

ul li {
  text-decoration: none;
  list-style: none;
  padding: 20px;
  border-radius: 6px;
}

ul li:hover {
  background: #26af3b;
  color: #000;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-nav {
  flex-basis: 40%;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
